@keyframes spin {
  0% {
    top: 1rem;
    left: 1rem;
  }
  25% {
    top: 1rem;
    left: calc(100% - 1.5rem);
  }
  50% {
    top: calc(100% - 1.5rem);
    left: calc(100% - 1.5rem);
  }
  75% {
    top: calc(100% - 1.5rem);
    left: 1rem;
  }
  100% {
    top: 1rem;
    left: 1rem;
  }
}

.App {
  height: 100%;
  position: relative;

  .top-bar {
    display: flex;
    justify-content: space-between;
  }

  .Weather {
    margin-top: 2rem;

    ~ .ShareInfo {
      margin-top: 3rem;
    }
  }

  .ShareInfo {
    margin-top: 2rem;
  }

  .SpinningCube {
    margin: auto;
    margin-top: 8rem;
  }
}
